version: "3"

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "2222:22"
    volumes:
      - /Users/lu/development/fintools/gitea/data:/data
    environment:
      - USER_UID=1000
      - USER_GID=1000
